
# Replace these values and rename file to '/env/frontend'
# Then do:  docker-compose build

SECRET_KEY=1234567890abcdefghijklmnopqustuvwxyz
EMAILER_ENV=ethereal
EMAILER_HOST=smtp.ethereal.email
EMAILER_PORT=587
EMAILER_SECURE=false
EMAILER_ACC_USER={REPLACE_ME}
EMAILER_ACC_PASS={REPLACE_ME}

FIREBASE_APIKEY={REPLACE_ME}
FIREBASE_AUTHDOMAIN={REPLACE_ME}
FIREBASE_DATABASEURL={REPLACE_ME}
FIREBASE_PROJECTID={REPLACE_ME}
FIREBASE_STORAGEBUCKET={REPLACE_ME}
FIREBASE_MESSAGINGSENDERID={REPLACE_ME}
FIREBASE_APPID={REPLACE_ME}

# You probably don't need to change these, but you can

LOGGING_ON=true
MOCK_CLI=false

