# Replace values and rename file to '/env/frontend'

MODE=dev

GRAPHQL_URL=http://localhost:4000/graphql
SOCKETIO_URL=http://localhost:3000

FIREBASE_APIKEY={REPLACE_ME}
FIREBASE_AUTHDOMAIN={REPLACE_ME}
FIREBASE_DATABASEURL={REPLACE_ME}
FIREBASE_PROJECTID={REPLACE_ME}
FIREBASE_STORAGEBUCKET={REPLACE_ME}
FIREBASE_MESSAGINGSENDERID={REPLACE_ME}
FIREBASE_APPID={REPLACE_ME}